
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
    padding: 50px;
}

.Table {
    margin-top: 50px;

    &__title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: stretch;
        align-items: center;
        background: red;

        &__text {
            font-weight: bolder;
            color: white;
            text-transform: uppercase;
            width: 25%;
            text-align: center;
            padding: 15px 0;
            font-family: 'Roboto', sans-serif;

        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: stretch;
        align-items: center;
        padding: 5px 0;

        &__text {
            text-align: center;
            width: 25%;
            font-family: 'Roboto', sans-serif;

        }
    }

    &__item:nth-child(2n+1) {
        background: #eeeeee;
    }
}
.Ui-botones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;


.Botones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    margin-top: 50px;

    button{
        background: rgb(32, 32, 32);
        border: none;
        padding: 10px 15px;
        color: white;
        font-weight: bolder;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .4s;
        opacity: .5;
        margin: 10px 0;
        width: 250px;
    }

    button:hover{
        background: rgb(32, 32, 32);
        opacity: 1;
    }
}
}